# Multiple Linear Regression - Repeat
Reinforcement of implementing multiple linear regression models with `sklearn` and backward subset selection with `statsmodels`

## Data Preprocessing

In [60]:
# Import libraries
import numpy as np
import pandas as pd

In [61]:
# Import dataset
dataset = pd.read_csv('50_startups.csv')

In [62]:
# Check dataset head
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

There are 3 numerical features and only 1 categorical feature. Will have to convert it to a numerical feature either through `pd.get_dummies()` or through `LabelEncoder` and `OneHotEncoder`.

Our features are the expenditure on R&D, Administration, and Marketing as well as the startup's state. The output we are trying to predict is the Profit.

In [63]:
# Converting `State` column to categorical data
pd.get_dummies(dataset, columns=['State']).head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [64]:
# Are there three unique classes in the categorical column?
dataset['State'].nunique()

3

In [65]:
# Yes, so we will drop one column from the new set of dummy variables as number of dummy variables = 1 less than
# number of distinct classes for a categorical variable. This effectively avoids the dummy variable trap of 
# collinearity from reducing accuracy of our model.
pd.get_dummies(dataset, columns=['State'], drop_first=True).head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [66]:
# Now extracting a new set of features
X = pd.get_dummies(dataset, columns=['State'], drop_first=True).drop(columns=['Profit'])
X.head()

# Extracting the target variables
y = dataset['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [67]:
# Checking both the input features and output variable are in correct form
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State_Florida      50 non-null uint8
State_New York     50 non-null uint8
dtypes: float64(3), uint8(2)
memory usage: 1.3 KB
None

In [68]:
# Split the dataset into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## Multiple Linear Regression Model - Training

In [69]:
# Import estimator
from sklearn.linear_model import LinearRegression

In [70]:
# Instantiate estimator - not normalizing variables
regressor = LinearRegression()

In [71]:
# Compute parameters for the multiple linear regression model
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## Multiple Linear Regression Model - Testing

In [72]:
# Get predictions for test set using the new model
y_pred = regressor.predict(X_test)

## Assess Performance

In [73]:
# import necessary metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [74]:
# Calculate and echo MAE, MSE, and RMSE
print("Mean Absolute Error:\t" + str(mean_absolute_error(y_test, y_pred)))
print("Mean Squared Error:\t" + str(mean_squared_error(y_test, y_pred)))
print("Root Mean Square:\t" + str(np.sqrt(mean_squared_error(y_test, y_pred))))

Mean Absolute Error:	7514.2936596406125
Mean Squared Error:	83502864.0325776
Root Mean Square:	9137.990152794957

Test results match those from Hadelin's tutorial, which means I have successfully trained the same model even though I obtained the dummy variables in a different way. Did not use `LabelEncoder` or `OneHotEncoder` to obtain the dummy variables, and did not use `numpy` arrays either. Simply used `pandas` dataframes and the `get_dummies()` method.

## Multiple Linear Regression Model - Backward Selection
Using backward selection to systematically eliminate most statistically insignificant features from the multiple linear regression model, and to identify the simplest model possible for predicting results.

### Preparing a Features Matrix for `OLS`

The linear regressor model (ordinary least squares or `OLS`) in the `statsmodel` library does not implicitly add a dummy feature/unity feature for the constant term `b0` in the dataset. We will have to do this explicitly before we can use the `statsmodel` linear regression model.

In [76]:
# Create an array of 1s for each example in the data
X_ones = np.ones((len(X), 1), dtype='int')

# Check that the array was created successfully
print("Start\n" + str(X_ones[1:5]))
print("\nEnd\n" + str(X_ones[-5:-1]))

Start
[[1]
 [1]
 [1]
 [1]]

End
[[1]
 [1]
 [1]
 [1]]

In [84]:
# Create a new dataframe that consists of this unity feature
X_opt = pd.DataFrame(data=X_ones)
X_opt.head()

   0
0  1
1  1
2  1
3  1
4  1

In [85]:
# Concatenate the original features to the unity feature
X_opt = pd.concat([X_opt, X], axis=1)

In [86]:
# Check that the new dataframe was created successfully
X_opt.head()

,0,R&D Spend,Administration,Marketing Spend,State_Florida,State_New York
0,1,165349.20,136897.80,471784.10,0,1
1,1,162597.70,151377.59,443898.53,0,0
2,1,153441.51,101145.55,407934.54,1,0
3,1,144372.41,118671.85,383199.62,0,1
4,1,142107.34,91391.77,366168.42,1,0

### Creating a `statsmodel` Regression Model

In [87]:
# Import library
import statsmodels.api as sm

In [88]:
# Instantiate an Ordinary Least Squars (OLS) object
regressor_ols = sm.OLS(endog=y, exog=X_opt)

**Endogenous** and **Exogeneous** are just fancy words for dependent and independent variables

In [92]:
# Fit the new OLS model (compute params and other statistics)
resfit = regressor_ols.fit()

In [93]:
# Display the summary of the model
resfit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.951
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     169.9
Date:                Wed, 22 May 2019   Prob (F-statistic):           1.34e-27
Time:                        17:09:14   Log-Likelihood:                -525.38
No. Observations:                  50   AIC:                             1063.
Df Residuals:                      44   BIC:                             1074.
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
0                5.013e+04   6884.820      7.281      0.000    3.62e+04     6.4e+04
R&D Spend           0.8060      0.046     17.369      0.000       0.712       0.900
Administration     -0.0270      0.052     -0.517      0.608      -0.132       0.078
Marketing Spend     0.0270      0.017      1.574      0.123      -0.008       0.062
State_Florida     198.7888   3371.007      0.059      0.953   -6595.030    6992.607
State_New York    -41.8870   3256.039     -0.013      0.990   -6604.003    6520.229
==============================================================================
Omnibus:                       14.782   Durbin-Watson:                   1.283
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               21.266
Skew:                          -0.948   Prob(JB):                     2.41e-05
Kurtosis:                       5.572   Cond. No.                     1.45e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.45e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Once again, comparing these results to those from Hadelin's tutorials shows that I recreated the model correctly even though I was using dataframes and not `numpy` arrays.

### Implementing Backwards Selection Programmatically

In [112]:
def backwardElimination(x, y, sl):
    """Uses backward selection to systematically eliminate
    statistically insignificant features from a multiple
    linear regression model based on a user-defined signifance
    level. Returns the optimal set of features
    Assumes x is a numpy array of feature values.
    """
    
    # find the total number of features in the `all-in` model
    numVars = len(x[0])
    
    # For every variable in the model
    for i in range(0, numVars):
        # Instantiate a new OLS regressor and compute its params
        regressor_OLS = sm.OLS(y, x).fit()
        
        # Find the maximum p value of a feature in the current feature set
        maxVar = max(regressor_OLS.pvalues)
        
        # if this p value is greater than the significance level
        if maxVar > sl:
            # Find the feature with row corresponding to feature with max p value
            for j in range(0, numVars - 1):
                if(regressor_OLS.pvalues[j].astype(float) == maxVar):
                    # delete it from the set of features
                    x = np.delete(x, j, 1)
    # Print statistical summary of the final regression model
    print(regressor_OLS.summary())
    
    # retunr the numpy array for final feature values
    return x

In [123]:
# Cast the input features into a numpy array and cast to 
X_opt_derived = backwardElimination(X.values, y.values, 0.05)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.987
Model:                            OLS   Adj. R-squared:                  0.987
Method:                 Least Squares   F-statistic:                     1232.
Date:                Wed, 22 May 2019   Prob (F-statistic):           1.17e-44
Time:                        17:33:40   Log-Likelihood:                -545.82
No. Observations:                  50   AIC:                             1098.
Df Residuals:                      47   BIC:                             1103.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.7180      0.065     11.047      0.000       0.587       0.849
x2             0.3277      0.031     10.458      0.000       0.265       0.391
x3             0.0822      0.022      3.733      0.001       0.038       0.126
==============================================================================
Omnibus:                        0.665   Durbin-Watson:                   1.361
Prob(Omnibus):                  0.717   Jarque-Bera (JB):                0.749
Skew:                          -0.126   Prob(JB):                        0.688
Kurtosis:                       2.456   Cond. No.                         9.76
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [124]:
X_opt_derived[1:10,:]
X_opt_derived.shape

(50, 3)

In [125]:
X.head()

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0  165349.20       136897.80        471784.10              0               1
1  162597.70       151377.59        443898.53              0               0
2  153441.51       101145.55        407934.54              1               0
3  144372.41       118671.85        383199.62              0               1
4  142107.34        91391.77        366168.42              1               0

In [129]:
X_opt_derived[:10, :]

array([[165349.2 , 136897.8 , 471784.1 ],
       [162597.7 , 151377.59, 443898.53],
       [153441.51, 101145.55, 407934.54],
       [144372.41, 118671.85, 383199.62],
       [142107.34,  91391.77, 366168.42],
       [131876.9 ,  99814.71, 362861.36],
       [134615.46, 147198.87, 127716.82],
       [130298.13, 145530.06, 323876.68],
       [120542.52, 148718.95, 311613.29],
       [123334.88, 108679.17, 304981.62]])

Manual observation shows that the State variables were eliminated from the model, and seem to be least stastistically significant.

In [133]:
# Extracting these features
X_subset = X[['R&D Spend', 'Administration', 'Marketing Spend']]
X_subset.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [135]:
# Train test split
X_train, X_test, y_train, y_test = train_test_split(X_subset, y, test_size=0.2, random_state=0)

In [137]:
# Fit model
opt_regressor = LinearRegression().fit(X_train, y_train)

In [138]:
# Predictions
y_pred_opt = opt_regressor.predict(X_test)

In [139]:
# Calculate and echo MAE, MSE, and RMSE
print("Mean Absolute Error:\t" + str(mean_absolute_error(y_test, y_pred_opt)))
print("Mean Squared Error:\t" + str(mean_squared_error(y_test, y_pred_opt)))
print("Root Mean Square:\t" + str(np.sqrt(mean_squared_error(y_test, y_pred_opt))))

Mean Absolute Error:	7320.441614848123
Mean Squared Error:	77506468.16885397
Root Mean Square:	8803.775790469335

RMS error has decreased from 9138 to 8804, and the intepretability of the model has increased because there are fewer variables (no dummy variables for state). We have proved that dropping the state variables has improved prediction performance of our model.